<div>
    <img class="intro-background desktop" src="{{ backgroundImage }}" alt="custom"/>

    <div class="intro-title">
        {{ title }}
    </div>
    <div class="intro-subtitle">
        Découvrir
    </div>
</div>